
<form action="/monitor/save" method="POST" class="mt-4 row">
	<label for="id_item" class="form-label">Id do anúncio</label><br>
	<div class="col-auto">
		<input type="text" name="id_item" id="id_item" class="form-control">
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-success col-auto">Enviar</button>
	</div>	
</form> 
