<footer class="d-flex flex-column justify-content-center align-items-center text-light bg-dark" style="height: 100px; margin-top: 80px">
    <span>ML-Sistem | V1.0</span>
    <span>Desenvolvido com <i class="bi bi-heart-fill text-danger"></i> por <a href="https://github.com/ifCoder-web" target="_blank" class="text-light" style="text-decoration: none;"><strong>ifCoder</strong></a></span>
</footer>